#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
}


#showImage {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: blue;
}

.clickable1:hover {
  text-decoration: underline;
}